.App {
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
    height: 10%;
  }
  .content {
    display: flex;
    flex-direction: row;
    .posts {
      height: 80vh;
      border: 1px solid black;
      word-wrap: break-word;
      overflow-y: scroll;
    }
    .analytics {
      height: 80vh;
      border: 1px solid black;
    }
  }
}
